<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Elevator</title>
</head>
<body>

<form action="#" th:action="@{/}" th:object="${commandDTO}" method="post">
    <div class="col-md-3 form-group">
        <label>UOM:</label>
        <select class="form-control" name="state">
            <option th:each="command : ${commands}"
                    th:value="${command.state}"

                    th:text="${command.state}">Each</option>
        </select>
    </div>

    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

<p th:text="'content: ' + ${status}" />

</body>
</html>