<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Elevator</title>
</head>
<body>
<div  style="display: table; margin: 300px 150px 150px 600px; text-align: center;">
    <form action="#" th:action="@{/}" th:object="${commandDTO}" method="post">
        <div class="col-md-3 form-group">
            <label>Выберите команду:</label>
            <select class="form-control" name="state">
                <option th:each="command : ${commands}"
                        th:value="${command.state}"

                        th:text="${command.state}">Each
                </option>
            </select>
        </div>

        <p><input type="submit" value="Отправить команду"/></p>
    </form>

    <p th:text="'Статус лифта: ' + ${status}"/>
</div>
</body>
</html>